body {
    background-image: url('/Images/image.png');
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    align-content:center;
}
.cssbuttons-io-button {
    background: linear-gradient(to right, #1a2a40, #2c4b68);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em rgba(255, 255, 255, 0.2);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
    position: relative;
    top: 30px; /* Moves button down */
    left: 320px; /* Moves button right */
}

    .cssbuttons-io-button:hover {
        background: linear-gradient(to right, #223954, #345e78);
        box-shadow: 0 0 1em 0.2em rgba(255, 255, 255, 0.2);
    }

    .cssbuttons-io-button .icon {
        background: white;
        margin-left: 1em;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.2em;
        width: 2.2em;
        border-radius: 0.7em;
        box-shadow: 0.1em 0.1em 0.6em 0.2em rgba(255, 255, 255, 0.2);
        right: 0.3em;
        transition: all 0.3s;
    }

    .cssbuttons-io-button:hover .icon {
        width: calc(100% - 0.6em);
    }

    .cssbuttons-io-button .icon svg {
        width: 1.1em;
        transition: transform 0.3s;
        color: #243B55;
    }

    .cssbuttons-io-button:hover .icon svg {
        transform: translateX(0.1em);
    }

    .cssbuttons-io-button:active .icon {
        transform: scale(0.95);
    }
